@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

*::-webkit-scrollbar,
*::-webkit-scrollbar-thumb {
  width: 26px;
  border-radius: 13px;
  background-clip: padding-box;
  border: 10px solid transparent;
  color: rgb(35, 119, 197);
}

*::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 0 10px;
}

#slider:hover #right {
  display: flex;
  justify-content: center;
  align-items: center;
}

#slider:hover #left {
  display: flex;
  justify-content: center;
  align-items: center;
}
